<ion-header>
  <ion-toolbar color="success">
    <ion-title>Questions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>




  
  <ion-card *ngIf="hasCode; else enterCode">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <!-- <ion-card-title>To proceed, please enter the code.</ion-card-title> -->
    </ion-card-header>
  
    <ion-card-content>

      <ion-text color="dark">
        <h1>What is the powerhouse of the cell?</h1>
      </ion-text>


      <ion-list>
        <ion-radio-group>
          <!-- <ion-list-header>
            <ion-label>Multiple choice</ion-label>
          </ion-list-header> -->
      
          <ion-item>
            <ion-label>Biff</ion-label>
            <ion-radio slot="start" value="biff" checked></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Mitrochondria</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Buford</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      
      <ion-button color="success" expand="block">Answer</ion-button>
    </ion-card-content>
    
  </ion-card>
  <ng-template #enterCode>
    <ion-card >
      <ion-card-header>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        <ion-card-title>To proceed, please enter the code.</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean. -->
  
        <!-- Input with placeholder -->
        <ion-input placeholder="Enter code here"></ion-input>
  
        <!-- Default -->
        <ion-button color="success" (click)="showQuestion()">Next</ion-button>
      </ion-card-content>
      
    </ion-card>
  </ng-template>


</ion-content> 
