<ion-header>
  <ion-toolbar color="success">
    <ion-title>Questions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- if videoCardIsVisible == true, then display this card.Else, display ng-component questionCard below -->
  <ion-card *ngIf="videoCardIsVisible; else questionCard">
    <ion-card-content>
      <!-- here, the pipe is used -->
      <iframe width="300" height="200" [src]="question.video_url | youtube" allowfullscreen></iframe>
      <ion-button color="success" (click)="hideVideoCard()">Next</ion-button>
    </ion-card-content>
  </ion-card>

  
  <ng-template #questionCard>
    <!-- Same logic, ngIf and ng-template is simply th if else in html in angular -->
    <ion-card *ngIf="questionCardIsVisible; else enterCode">
      <ion-card-header>
      </ion-card-header>
    
      <ion-card-content>
        <!-- If there is a question.text, we display it. 
          This is how I used it to make the view dynamic -->
        <ion-text *ngIf="question.text" color="dark">
        <h1>{{question.text}}</h1>
        </ion-text>
        <ion-img *ngIf="question.img_url" src="{{question.img_url}}"></ion-img>
  
        <ion-list>
          <!-- Chosen choice is saved in chosen_choice_id, it updates everytime the user answers -->
          <ion-radio-group  [(ngModel)]="chosen_choice_id">
            <ion-list-header>
              <ion-label>Multiple choice</ion-label>
            </ion-list-header>
            <!-- ngFor is same as the forLoop and forEachLoop, but simpler 
            and intuitive for displaying ui directly on html 
            var choice is a reference of the value in each cycle of the loop
            Here we access the attributes of each choice-->
            <ion-item *ngFor="let choice of choices">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h5 *ngIf="choice.text">{{choice.text}}</h5>
                </ion-text>
                <ion-img *ngIf="choice.img_url" src="{{choice.img_url}}"></ion-img>
              </ion-label>
              <ion-radio slot="start" value="{{choice.choice_id}}"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
        <ion-button color="success" expand="block" (click)="onAnswer()" [disabled]="answerDisabled">Answer</ion-button>
      </ion-card-content>
      
    </ion-card>
  </ng-template>
  <ng-template #enterCode>
    <ion-card >
      <ion-card-header>
        <ion-card-title>To proceed, please enter the code.</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- We ask the user a code, before showing the video and then finally the question -->
        <ion-input placeholder="Enter code here" [(ngModel)]="codeTyped"></ion-input>

        <ion-button color="success" (click)="getQuestion()">Next</ion-button>
      </ion-card-content>
      
    </ion-card>
  </ng-template>


</ion-content> 
