<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>Change your password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Please enter your new password</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Re-type Your Password</ion-label>
        <ion-input [(ngModel)]="retypedPassword"></ion-input>
      </ion-item>
      <ion-button color="success" expand="block" (click)="tryChangePassword()"
        >Change Password</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
