<ion-header no-border>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
      </ion-buttons>  
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngIf="showEnterEmailCard; else showEnterCodeCard">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Please enter your email</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean. -->

      <!-- Input with placeholder -->
      <ion-input placeholder="Enter email here" [(ngModel)]="email"></ion-input>

      <!-- Default -->
      <ion-button (click)="trySendMail()" color="success">Next</ion-button>
    </ion-card-content>
    
  </ion-card>
  <ng-template #showEnterCodeCard>
    <ion-card>
      <ion-card-header>
        
        <ion-card-title>Check your email.</ion-card-title>
        <ion-card-subtitle>We have sent you the code via email, enter it here to reset your password.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <!-- Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean. -->
  
        <!-- Input with placeholder -->
        <ion-input placeholder="Enter code here" [(ngModel)]="code"></ion-input>
  
        <!-- Default -->
        <ion-button color="success" expand="block" (click)="trySendCode()">Enter</ion-button>
      </ion-card-content>
      
    </ion-card>
  </ng-template>


</ion-content>
