<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>Hello {{name}}</ion-title>
    <ion-buttons slot="end">
    	<ion-button color="light" (click)="prosesLogout()">
    			<ion-icon slot="icon-only" name="exit"></ion-icon> 
    	</ion-button>

	<ion-button color="light" (click)="openSetting()">
    			<ion-icon slot="icon-only" name="person"></ion-icon> 
    	</ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
	<div>
		<h1 style="text-align: center;">INTRODUCTION ABOUT THE APP SUBJ</h1>
		<p style="align-items: center; text-align: center;">cenfrekunvftldkrgrktvnjfhvnfjsnvfjklrsnjklrsnvlfjksnvfjlnsvlfjjnsvfljrnsfljkrnsflkrjnsfkjrnsvlkjrnsfljrnsfkljrnesglkjrnfkn
		<br>eriuknfkerfeunfrejknsfrejknsfrekjnfrekjfnrjlkfjn.</p>
	</div>

	<ion-button  expand="full" class="ion-padding" color="success" (click)="openQuestions()">Start</ion-button>

	
	

</ion-content>
