<ion-content>
	<ion-slides pages="true">
		<!-- FIRST SLIDE -->
		<ion-slide class="slide-one">
		<ion-img src="/assets/icon/favicon.png"></ion-img>
		<h1>Sabri App</h1>
		<p class="labelintro">
			LOGIN AND REGISTER <br/>
			<span>Swipe right</span>
		</p>
	</ion-slide>

	<!-- SECON SLIDE -->
	<ion-slide class="slide-two">
		<ion-img src="/assets/icon/favicon.png"></ion-img>
		<p class="labelintro">
			UniScripts
		</p>
		<ion-button color="success" (click)="openLogin()">Let's Login.....</ion-button>

	</ion-slide>

	</ion-slides>

</ion-content>
